.ant-avatar-string {
  left: 0 !important;
  position: relative !important;
}

.hide-upload div.ant-upload-select {
  display: none !important;
}

.max-width {
  width: 100%;
}

/* Excel export button styles */
.crud-excel-export-btn {
  background-color: #15803d !important;
  color: white !important;
  border-color: #15803d !important;
}

.crud-excel-export-btn:hover {
  background-color: #16a34a !important;
  border-color: #16a34a !important;
}
